---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6 text-center">Kwto</h1>
		<p class="mb-4">
			Hi, I’m a kwto someone who has many interests and hobbies.
      I'm currently making this website based off astor-cactus by Chris Williams to learn more about Astro and web development.
      I will be trying to make this a easily exapandable website for my coding projects, photography, and research.
		</p>
		<SocialList />
	</section>
</PageLayout>
