---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6 text-center">Photography</h1>
		<p class="mb-4">
			Make thing so that it shows a title image with text ontop that shows the location/time of photos and when you click on it, it opens up a sublink that shows the photos in a gallery.
		</p>
	</section>
</PageLayout>
